
<!-- Footer -->
 

  <footer class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">تماس با ما</h5>
          <ul class="list-unstyled">
            <li>آدرس: تهران، خیابان آزادی، پلاک 123</li>
            <li>ایمیل: s.alimirabbasi.h@gmail.com</li>
            <li>تلفن: 09364718965</li>
          </ul>
        </div>
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">لینک‌های سریع</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'product-list' %}">صفحه اصلی</a></li>
            <li><a href="{% url 'about-us' %}">درباره ما</a></li>
            <li><a href="{% url 'product-list' %}">محصولات</a></li>
            <li><a href="https://t.me/ali_mrbs">تماس با ما</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-3 justify-content-center">
          <h5 class="text-uppercase mb-6">ما را در شبکه‌های اجتماعی دنبال کنید:</h5>
          <div class="socials d-flex ">
            <a href="https://www.instagram.com/ali_mrbs/" class="social-icon me-5"><i class="fab fa-instagram"></i></a>
            <a href="" class="social-icon me-5"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ali-mrbs/" class="social-icon me-5"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:s.alimirabbasi.h@gmail.com" class="social-icon me-5"><i class="fas fa-envelope"></i></a>
            <a href="https://t.me/ali_mrbs" class="social-icon me-5"><i class="fab fa-telegram-plane" aria-hidden="true"></i></a>  
          </div>
        </div>
      <div class="line"></div>

      <div class="text-center ">
        <small class="">تمامی حقوق محفوظ است © 2025</small>
      </div>
    </div>
  </footer>
  